

.register{
    width: 300px;
    padding: 30px;
    padding-top: 30px ;
    background-color: #181818a0;
    border-radius: 10px;
}

label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button_register{
    width: 60%;
    padding: 8px;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    background-color: #3d3d3d;
    margin-top: 20px;  
}

h2{
    color: #000000;
    text-align: center;
    margin: 10px;
}

.button_register:hover{
     background-color: #4CAF50;
     color: white;
     transform: scale(1.08);
     transition: all 0.2s ease;
}

body {
    background-image: url("img_bg.jpg");
    background-repeat: no-repeat;  
    background-size:auto;         
    background-position:unset;  
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
    color: rgb(30, 30, 30);
}

form{
    line-height: 2.8;
}

input[type=text], input[type=password] {
  width: 90%;
  border: none;
}

