body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
}
header{
    margin-top: 2px;
    margin-bottom: 30px;
    background-color: #ae3939;
    padding: 10px;
}
a {
    color: rgb(69, 10, 10);
    margin-right: 15px;
    text-decoration: none;
}

nav{
    margin-left: 78%;
}

header nav a:hover {
    padding:1px;
}
