<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Secure Issue Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="color: white;background-color: black;">
    <header>
        <nav>
            <a href="{{ url_for('main.home') }}">Home</a>
            {% if session.get('logged_in') %}
                <a href="{{ url_for('main.profile') }}">Profile</a>
                <a href="{{ url_for('main.forum') }}">Forum</a>
                <a href="{{ url_for('main.issues') }}">Issues</a>
                <a href="{{ url_for('main.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('main.login') }}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
