{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<body>
    <center>
    <h1>Welcome to the Secure Issue Tracker</h1>
    </center>
    <p class="para1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ut suscipit dolorem officiis nam, quod deleniti, veritatis nisi totam vel illo atque, voluptate ex molestias nobis. Non autem corrupti optio libero asperiores officiis sit deserunt consectetur quas, iusto ad inventore totam ratione ea tenetur aperiam illum quibusdam a, dolore aliquam esse quod beatae? Similique voluptatem sint atque tenetur dolore odio reiciendis, repudiandae magni doloremque! Perspiciatis, itaque doloremque illo enim veniam non maxime, expedita reiciendis corrupti ex animi dolorem. Assumenda alias consequatur sint consectetur distinctio obcaecati quod natus blanditiis quas accusamus provident et esse mollitia, non quaerat perspiciatis eum doloribus a.</p>
</body>

{% endblock %}
