{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<center>
<h2>Register</h2>
<div class="register">
<form method="POST">
    <table>
        <tr>
            <td class="label">Username:</td>
            <td><input type="text" name="username" required></td>
        </tr>
        <tr>
            <td class="label">Email:</td>
            <td><input type="email" name="email" required></td>
        </tr>
        <tr>
            <td class="label">First Name:</td>
            <td><input type="text" name="first_name"></td>
        </tr>
        <tr>
            <td class="label">Last Name:</td>
            <td><input type="text" name="last_name"></td>
        </tr>
        <tr>
            <td class="label">Password:</td>
            <td><input type="password" name="password" required></td>
        </tr>
    </table>
<button type="submit">Register</button>
</form>
</center>
<br>
<center>
    <small>Password must be at least 8 characters and include a number.</small>
</center>
</div>

<center>
    <small>Already have an account? <a href="{{ url_for('main.login') }}">Login</a></small>
</center>

{% endblock %}

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}
