{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
{% if error %}
<p class="error">{{ error }}</p>
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
<center>
    <div class="register">
        <h2 style="color: #f4f4f4;">CREATE ACCOUNT</h2>
        <form method="POST">

            <label for="usr"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="usrname" required 
                style="padding:12px; border-radius:7px; background-color: #e6e6e6;">

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required 
                style="padding:12px; border-radius:7px; background-color: #e6e6e6;">

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required 
                style="padding:12px; border-radius:7px; background-color: #e6e6e6;">


            <button type="submit" class="button_register">Register</button>
        </form>

        <br>
        <center>
            <small>Password must be atleast 8 characters and a number.</small>
        </center>

        <center>
            <small style="color: #e6e6e6;">Already have an account? <a href="{{ url_for('main.login') }}"
                    style="color: #e6e6e6;">Login</a></small>
        </center>
    </div>
</center>
{% endif %}
{% endblock %}